
#center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  @media (min-width: 320px) and (max-width: 767px){
    .image {
        margin: 0 20px;
        width: 90vw;
        height: auto;
        justify-content: center;
    }
    }
  
  .responsive-image{
    width: 100%;
    height: fit-content;
    border: 6px solid $primary-color;
    border-radius: 3px;
    
    @include viewport(small){
        border: 4px solid $primary-color;
        }
  }
  .image{
    display: flex;
    background-color: $primary-color;
  }
  
  .gallery{
    padding: 2rem 1rem;
    margin: 1rem;
    border: 3px solid $primary-color;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 80vw;
    overflow-y: scroll;
    @include viewport(small){
        min-height: 150px;
        
        margin-top: 0;
        }
        @include viewport(medium){
            justify-content: center;
            width: 90vw;
            min-height: 150px;
            position: relative;
        }
    @include viewport(large){
      width: 600px;
      max-height: 450px;
            }
            @include viewport(x-large){
              width: 600px;
              max-height: 450px;
                    }  
}
  .gallery-image{
    width: 100%;
    height: auto;
    margin: 10px 0;
    border: 4px solid $primary-color;
    @include viewport(medium){
        margin: 30px 0 0 0;
    } 
  }
  #images-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image-delete{
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase; 
  }
  .image-delete:hover{
    background-color: $secondary-color;
    color: $primary-color;
    cursor: pointer;
    }
    .email-image{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;  
    }